*{
    margin: 0;
    padding: 0;
    border: 0;
}

h1{

}

body{
    height: 800px;
    text-align: center;
    background: radial-gradient( #FAF0CA, #F4D35E);
    background-repeat: no-repeat;
    background-attachment: fixed;
}



blockquote{
    margin-top: 150px;
    font-size: 10em;
    color: #0D3B66;
    margin-bottom: 200px;
}

nav{
    font-size: 2.5em;
    text-align: center;
    background-color: #0D3B66;
}

nav ul li{
    display: inline-block;
}

nav a:hover{
    font-size: 1.3em;
}

nav a{
    color: #FAF0CA;
    padding: 40px;
    text-decoration: none;
}


#container{
    border-radius: 20px;
    width: 80%;
   background-color: #0D3B66;
   color: #FAF0CA;
   font-size: 2.5em;
   margin-left: 10%;
   margin-right: 10%;
}

#container2{
    border-radius: 20px;
    margin-top: 20px;
    width: 80%;
   background-color: white;
   color:#0D3B66;
   font-size: 2.5em;
   margin-left: 10%;
   margin-right: 10%;
}

#container3{
    border-radius: 20px;
    margin-top: 20px;
    width: 80%;
   background-color: black;
   color: #FAF0CA;
   font-size: 2.5em;
   margin-left: 10%;
   margin-right: 10%;
   margin-bottom: 20px;
}

div p{
    padding: 30px;
}

#button1{
       background-color:#FAF0CA;
       color: #0D3B66;
       padding: 20px;
       border-radius: 10px;
       font-size: 1.1em;
       margin-bottom: 20px;
}

#button2{
    background-color:#0D3B66;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.1em;
    margin-bottom: 20px; 
}

#button3{
    background-color:#FAF0CA;
    color: black;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.footer_stuff{
    font-size: 6em;
    color:#0D3B66;
    text-align: center;
    padding: 50px;
}